In [1]:
%pip install pybaseball -q

     |████████████████████████████████| 415 kB 5.2 MB/s
     |████████████████████████████████| 291 kB 11.8 MB/s
     |████████████████████████████████| 856 kB 40.5 MB/s

In [85]:
import pybaseball as pyb
from pybaseball import statcast
from pybaseball import statcast_pitcher, playerid_lookup
from pybaseball import pitching_stats_bref, pitching_stats
import pandas as pd
import numpy as np

In [155]:
playerid_lookup('webb','logan')['key_mlbam'][0]

657277

In [183]:
webb = statcast_pitcher('2022-04-08', '2022-06-25', player_id = 657277)

Gathering Player Data

In [184]:
webb['pitch_type'].unique()

array(['SL', 'SI', 'CH', 'FF'], dtype=object)

In [185]:
webb

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,SL,2022-06-25,82.9,-1.45,4.65,"Webb, Logan",571657,657277,field_out,hit_into_play,...,6,1,6,1,6,Standard,Standard,71.0,0.003,-0.082
1,SI,2022-06-25,91.7,-1.26,4.79,"Webb, Logan",571657,657277,NaN,ball,...,6,1,6,1,6,Standard,Standard,241.0,0.000,0.011
2,SL,2022-06-25,83.8,-1.35,4.68,"Webb, Logan",571657,657277,NaN,ball,...,6,1,6,1,6,Standard,Standard,53.0,0.000,0.012
3,SL,2022-06-25,82.9,-1.45,4.74,"Webb, Logan",571657,657277,NaN,swinging_strike,...,6,1,6,1,6,Standard,Standard,70.0,0.000,-0.022
4,SI,2022-06-25,92.2,-1.36,4.86,"Webb, Logan",571657,657277,NaN,called_strike,...,6,1,6,1,6,Standard,Standard,244.0,0.000,-0.018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,CH,2022-04-08,88.6,-1.45,5.10,"Webb, Logan",624585,657277,NaN,foul,...,0,0,0,0,0,Infield shift,Standard,261.0,0.000,0.000
1416,CH,2022-04-08,87.7,-1.47,5.08,"Webb, Logan",624585,657277,NaN,ball,...,0,0,0,0,0,Infield shift,Standard,274.0,0.000,0.036
1417,CH,2022-04-08,89.3,-1.48,5.18,"Webb, Logan",624585,657277,NaN,swinging_strike,...,0,0,0,0,0,Infield shift,Standard,265.0,0.000,-0.056
1418,SI,2022-04-08,93.0,-1.53,5.20,"Webb, Logan",624585,657277,NaN,swinging_strike,...,0,0,0,0,0,Infield shift,Standard,252.0,0.000,-0.042
1419,SI,2022-04-08,95.1,-1.41,5.34,"Webb, Logan",624585,657277,NaN,ball,...,0,0,0,0,0,Infield shift,Standard,243.0,0.000,0.034

In [186]:
webb[webb['description'] == 'called_strike']
# 263 rows

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
4,SI,2022-06-25,92.2,-1.36,4.86,"Webb, Logan",571657,657277,NaN,called_strike,...,6,1,6,1,6,Standard,Standard,244.0,0.0,-0.018
21,SL,2022-06-25,82.6,-1.57,4.74,"Webb, Logan",663697,657277,NaN,called_strike,...,5,1,5,1,5,Infield shift,Standard,80.0,0.0,-0.018
23,SI,2022-06-25,92.5,-1.45,4.78,"Webb, Logan",605244,657277,NaN,called_strike,...,5,1,5,1,5,Strategic,Standard,207.0,0.0,-0.032
24,SI,2022-06-25,93.0,-1.34,4.84,"Webb, Logan",605244,657277,NaN,called_strike,...,5,1,5,1,5,Standard,Standard,20.0,0.0,-0.024
26,SI,2022-06-25,91.7,-1.52,4.84,"Webb, Logan",669222,657277,NaN,called_strike,...,5,1,5,1,5,Standard,Standard,241.0,0.0,-0.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,SL,2022-04-08,83.2,-1.53,5.11,"Webb, Logan",607732,657277,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,60.0,0.0,-0.062
1404,SI,2022-04-08,93.7,-1.32,5.14,"Webb, Logan",542583,657277,NaN,called_strike,...,0,0,0,0,0,Infield shift,Standard,246.0,0.0,-0.056
1406,SI,2022-04-08,91.9,-1.37,5.25,"Webb, Logan",542583,657277,NaN,called_strike,...,0,0,0,0,0,Infield shift,Standard,249.0,0.0,-0.034
1408,SI,2022-04-08,93.6,-1.29,5.13,"Webb, Logan",660821,657277,NaN,called_strike,...,0,0,0,0,0,Infield shift,Standard,255.0,0.0,-0.018
1413,SI,2022-04-08,94.0,-1.36,5.28,"Webb, Logan",643265,657277,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,246.0,0.0,-0.024

In [187]:
round((100*(263/1420)), 1) #CStr Rate

18.5

In [188]:
swinging_strikes = ['swinging_strike_blocked','swinging_strike']

In [189]:
webb_swstrs = webb[(webb['description'].isin(swinging_strikes))] 
webb_swstrs

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3,SL,2022-06-25,82.9,-1.45,4.74,"Webb, Logan",571657,657277,NaN,swinging_strike,...,6,1,6,1,6,Standard,Standard,70.0,0.000,-0.022
17,SL,2022-06-25,84.0,-1.48,4.73,"Webb, Logan",592273,657277,NaN,swinging_strike,...,5,1,5,1,5,Infield shift,Standard,71.0,0.000,-0.057
22,SL,2022-06-25,83.1,-1.36,4.67,"Webb, Logan",605244,657277,strikeout,swinging_strike,...,5,1,5,1,5,Standard,Standard,80.0,0.011,-0.102
46,SI,2022-06-25,92.7,-1.33,4.75,"Webb, Logan",663697,657277,strikeout,swinging_strike,...,2,1,2,1,2,Infield shift,Standard,246.0,0.026,-0.197
47,SL,2022-06-25,81.5,-1.70,4.68,"Webb, Logan",663697,657277,NaN,swinging_strike,...,2,1,2,1,2,Infield shift,Standard,89.0,0.000,-0.069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366,CH,2022-04-08,85.4,-1.34,5.02,"Webb, Logan",607732,657277,NaN,swinging_strike,...,2,0,2,0,2,Standard,Standard,278.0,0.000,-0.056
1369,SL,2022-04-08,82.8,-1.44,4.99,"Webb, Logan",500743,657277,strikeout,swinging_strike,...,2,0,2,0,2,Standard,Standard,57.0,0.035,-0.256
1381,CH,2022-04-08,85.8,-1.66,5.00,"Webb, Logan",660821,657277,NaN,swinging_strike,...,0,0,0,0,0,Infield shift,Strategic,277.0,0.000,-0.057
1417,CH,2022-04-08,89.3,-1.48,5.18,"Webb, Logan",624585,657277,NaN,swinging_strike,...,0,0,0,0,0,Infield shift,Standard,265.0,0.000,-0.056
1418,SI,2022-04-08,93.0,-1.53,5.20,"Webb, Logan",624585,657277,NaN,swinging_strike,...,0,0,0,0,0,Infield shift,Standard,252.0,0.000,-0.042

In [190]:
round((100*(156/1420)), 1) #SwStr Rate

11.0

## On Fastballs

In [191]:
webb_fastballs = webb[(webb['pitch_type'] == "SI")|
                      (webb["pitch_type"] == "FF")|
                      (webb["pitch_type"] == "FC")]
fastballs = webb_fastballs.shape[0]

In [192]:
called_strikes = webb_fastballs[webb_fastballs['description'] == 'called_strike'].shape[0]

In [193]:
round(100*(called_strikes / fastballs), 1) #CStr Fastballs

28.0

In [194]:
sw_strikes = webb_fastballs[(webb_fastballs['description'].isin(swinging_strikes))].shape[0]

In [195]:
round(100*(sw_strikes / fastballs), 1)

7.3

In [196]:
round(100*((called_strikes + sw_strikes)/fastballs), 1) #Fastballs

35.4